section {
    font-family: sans-serif;   
    margin: auto 0;
}

article {
    background: lightgrey; 
    border: 1px solid black; 
    margin-bottom: 1rem;
    display:flex;
}

header {
    padding: 1rem; 
}

figure {
    order: -1;
    max-width: 20%;
    display: flex; 
}

img {
    width: 100%;
    align-items: center;
}

a {
    background: lightblue;
    padding: 1rem;
    margin-top: 2rem; 
}