body {
    margin: 0;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

section {
    display: flex; 
    align-items: center;
    flex-grow: 1;
}

article {
    display: flex;
    width: 50%;
    align-items: center;
}

figure {
    order: -1; 
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    box-sizing: border-box;
}

footer {
    font-size: 2rem;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    background: lightgray;
    font-weight: bold;
    display: flex; 
}

footer #foto,#paxina {
    padding: 1rem;
}

img {
    max-width: 100%;
}