li:first-child {
    background: yellow
}

li:last-child {
    background: green
}

li:nth-child(2) {
    background: red
}

li:not(.destacado) {
    border-bottom: 7px solid black;
    color: red;
}

li:empty {
    background: maroon
}

li:only-child {
    font-size: 3rem
}

/* nth of type es el enésimo hijo de ese tipo, es decir, tiene que ser el primer hijo de tipo p */

p:nth-of-type(1) {
    background: lightcoral
}